<% post_image_comments.each do |post_image_comment| %>
  <div class="image-show-comment-list mb-3 mx-auto">
    <div class="post-comment  d-flex justify-content-between align-items-center">
      <div class="post-comment-left d-flex justify-content-between align-items-center">
        <div class="text-center">
          <div class="post-comment-img">
            <%= attachment_image_tag post_image_comment.user, :profile_image, fallback: "no_image.jpg", size: "50x50" %>
          </div>
          <span class="post-comment-accountname"><%= post_image_comment.user.account_name %></span>
        </div>
        <div class="post-comment-chat">
          <p><%= post_image_comment.comment %></p>
        </div>
      </div>
      <div>
        <% if post_image_comment.user === current_user %>
          <%= link_to post_image_post_image_comment_path(post_image_comment.post_image, post_image_comment), 
                      method: :delete,
                      data: {confirm: "コメントを削除してもよろしいですか？"},
                      remote: true do %>
           <i class="fas fa-trash-alt post-comment-delete-button"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>