<div class="notification main">
  <div class="container">
    <div class="row">
      <% if @notifications.exists? %>
        <div class="col-md-6 mx-auto">
          <div class="notification-contents">
            <% @notifications.each do |notification| %>
              <%= render 'notifications/notification', notification: notification %>
            <% end %>
            <div class="notification-all-delete-button">
              <%= link_to notifications_all_destroy_path, method: :delete, data: {confirm: "通知を全て削除しますか？"} do %>
                <span>全ての通知を削除</span>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <p>現在の通知はありません</p>
      <% end %>
    </div>
  </div>
</div>