<div class="user-followed main">
  <div class="container">
    <div class="row">
      <div class="user-followed-right col-md-5">
        <%= render 'users/user_profile', user: @user %>
      </div>
      <div class="user-followed-left col-md-7">
        <%= render 'users/follow', follows: @followed, follow_title: "フォロワーリスト"%>
      </div>
    </div>
    <%= render 'layouts/back_button' %>
  </div>
</div>