<div class="user-show main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto text-center">
        <%= render 'users/user_profile', user: @user %>
      </div>
      
      <div class="user-show-image col-md-8">
        <h2>投稿一覧</h2>
        <%= render 'post_images/post_image_item', post_images: @user.post_images %>
      </div>
    </div>
  </div>
</div>