<div class="withdrawal main">
  <div class="container">
    <div class="withdrawal-main text-center">
      <h1>退会が完了しました！</h1>
      <p>また機会があれば是非ご活用ください！</p>
      
      <%= link_to "トップページへ", root_path, class: "btn button"%>
    </div>
  </div>
</div>