<div class="request-edit">
  <%= render 'requests/request_post', request: @request, 
                                      submit_text: "依頼を変更する",
                                      title: "への依頼を変更する"
                                      %>
</div>