<div class="request-complete">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <h3 class="text-center mb-4"><%= @request.requested.account_name %>さんからのイラストが届きました！</h3>
      <% @request.request_images.each do |request_image| %>
        <div class="request-complete-image text-center p-5">
          <%= attachment_image_tag request_image, :complete_image %>
        </div>
      <% end %>
      <div class="request-complete-delete mt-4 text-center">
        <%= link_to "依頼を完了する", user_request_path(@request), 
                                      method: :delete, 
                                      data: {confirm: "依頼の完了をすると依頼データは削除されます。本当に完了しますか？"},
                                      class: "btn btn-danger"%>
      </div>
      
      <div class="back-button d-inline-block">
        <%= link_to :back do %>
          前の画面に戻る<i class="fas fa-arrow-circle-left fa-flip-horizontal ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>