<div class="request-complete">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <h3 class="text-center mb-4"><%= @request.requested.account_name %>さんからのイラストが届きました！</h3>
      <div class="request-complete-image text-center p-5">
        <%= attachment_image_tag @request, :complete_image %>
      </div>
    </div>
  </div>
</div>