// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #f7f4f2;
$accent-color: #e65b20;
$back-ground-color: #d1cbc3;
$font-color: #3e1300;

@mixin sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.search {
  min-height: 100vh;
}