<div class="post-images" id="post_images">
  <% post_images.each do |post_image| %>
    <%= link_to post_image_path(post_image), class: "d-block" do %>
      <div class="post-image">
        <%= attachment_image_tag post_image, :image %>
        <div class="post-image-text pt-2">
          <p><i class="fas fa-user mr-2"></i><%= post_image.user.account_name %></p>
          <p class="post-image-introduction"><%= post_image.title %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>