<% if post_image.post_image_genre === "イラスト" %>
  <p class="genre genre-illust"><i class="fas fa-tag mr-2"></i><%= post_image.post_image_genre %></p>
<% elsif post_image.post_image_genre === "写真" %>
  <p class="genre genre-photo"><i class="fas fa-tag mr-2"></i><%= post_image.post_image_genre %></p>
<% else %>
  <p class=" genre genre-logo"><i class="fas fa-tag mr-2"></i><%= post_image.post_image_genre %></p>
<% end %>