<div class="sort_index_genre_button">
  <%= link_to "全て", post_image_genre_search_path(genre: 0) %>
  <%= link_to "イラスト", post_image_genre_search_path(genre: 1) %>
  <%= link_to "写真", post_image_genre_search_path(genre: 2) %>
  <%= link_to "ロゴ", post_image_genre_search_path(genre: 3) %>
</div>