<div class="top">
  <div class="top-content p-5">
    <h3 class="top-title">
      みなさんの絵を<br >
      もっとたくさんの人へ・・・・・
    </h3>
    <div class="top-links mt-4">
      <%= link_to "ログイン", new_user_session_path, class: "button"%>
      <%= link_to "新規登録", new_user_registration_path, class: "button"%>
      <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post, class: "button" %>
    </div>
  </div>
  
  <div class="top-to-main">
    <%= link_to "イラストを見にいこう", main_path, class: "btn btn-danger"%>
  </div>
</div>