<div class="search-form ml-auto">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.search_field :search, placeholder: "キーワードから探す" %>
    <%= select_tag(:model, options_for_select([["ユーザー", "1" ],["投稿イラスト", "2" ]])) %>

    <%= f.submit "検索" %>
  <% end %>
</div>